body {
  background: rgba(185, 218, 246, 0.85);
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  max-width: 980px;
  margin: 50px auto 80px;
  padding: 0 10px;
}
